<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Confirmar Eliminación</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container mt-5">
        <h2>¿Estás seguro de que deseas eliminar este historial?</h2>
        <form method="post" action="{% url 'eliminar_historial' historial.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a href="{% url 'historial' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</body>
</html>
